* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

.page-title {
    height: 65px;
}

.page-title .logo {
    display: inline-block;
    position:fixed;
    top: 0px;
    padding: 5px;
    width: 100%;
    border-bottom: 2px solid;
    background-color: var(--background-color);
}

.page-title .logo img {
    width: 60px;
    position:relative;
    top: 5px;
}

.page-title .logo h1 {
    display: inline-block;
    padding-left: 5px;
    font-size: 40px;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #c7e0c7;
    color:#000000;
}

.btn:active {
    background-color: #588c7e; 
    color: #ffffff; 
}

/* HOME PAGE/SNOOP */

nav {
    position: fixed; /* position: absolute */
    right: 0px;
    top: 0px;
    padding: 15px;
    display: grid;
    column-gap: 15px;
}

nav a:hover {
    font-weight: bolder;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-template-columns: auto atuo auto;
}

.nav-list li {
    display: inline-block;
    margin: 8px;
    
}

.nav-list li a {
    text-decoration: none;
    color: black; 
}

.nav-list li a:hover {
    font-weight: bolder;
}

#middle-container {
    display: block;
    margin: 10px auto;
    width: 625px;
}

#entries-container { /* delete if needed */
    margin: auto;
    padding: 5px;
    width: 600px;
    height: 500px;
}

.left-aside, .right-aside {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 33%;
    margin: auto;
    height: 90%;
    position: fixed; /* position: relative */
    overflow: hidden; /* hides the overflow */
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: -1; /* delete if needed */
}

/* delete if needed */
.left-aside {
    top: 75px;
    left: 10px;
}
/* delete if needed */
.right-aside {
    top: 75px;
    right: 10px;
}

/* sample text for asides*/
.sample-text {
    animation: floatInOut 10s infinite;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    position: absolute; 
    left: 0%; /* start at the left */
    right: 0; 
    text-align: center; 
}

@keyframes floatInOut {
    0% {
        transform: translateX(-100%); /* starts at left of aside*/
    }
    35% {
        transform: translateX(0%); /* float to the middle */
    }
    65% {
        transform: translateX(0%); /* holds in the middle */
    }
    85% {
        transform: translateX(100%); /* floats off screen to the right */
    }
    100% {
        transform: translateX(100%); /* resets back to starting position */
    }
}

label {
    margin: auto;
    display: block;
    text-align: center;
    width: auto;
}

input {
    display: block;
    margin: 10px auto;
    width: 250px;
    border-radius: 5px;
    border: 2px solid black;
    background-color:#fdfdf3;
    padding: 5px;
}

textarea {
    display: block;
    margin: 10px auto;
    width: 400px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #fdfdf3;
    padding: 5px;
    resize: none;
}

input:focus,
textarea:focus {
    background-color: #ffffc6;
}

#entry-length {
    display: block;
    width: 400px;
    margin: auto;
    font-size: 12px;
}

#post-entry {
    display: block;
    margin: 10px auto;
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#post-entry:hover {
    background-color: #c7e0c7;
    color:#000000;
}

#post-entry:active {
    background-color: #588c7e; 
    color: #ffffff;
}

.homepage-container {
    /*display: grid;
    grid-template-columns: auto auto auto;
    */
    margin: 10px 5px 5px 5px;
    height: 91vh;
}

.wof-container {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.liked-container {
    justify-self: end;
}

.disliked-container {
    justify-self: start;
}

.entry-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px auto;
    padding: 2px;
    width: 475px;
    font-size: 14px;
}

.entry-container .entries {
    margin: auto;
    padding: 5px;
    width: 425px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fdfdf3;
}

.entry-container .current-entry {
    display: block;
    margin: 10px 0px;
}

.entry-container .comment-section {
    text-align: center;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.entry-container .comment-section h4 {
    margin-top: 10px;
    text-decoration-line: underline;
}

.entry-container .comment-container {
    display: grid;
    grid-template-columns: auto 15%;
    width: 95%;
    margin: 5px auto;
    border: 2px solid;
    border-radius: 5px;
}

.entry-container .current-comment {
    margin: 5px auto;
    padding: 5px;
    width: 100%;
}

.entry-container img {
    display: block;
    margin: 10px auto;
    border: 2px solid;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.entry-container .cc {
    font-weight: bold;
}

.entry-container .cool {
    color: lightgreen;
}
.entry-container .cringe {
    color: lightcoral;
}

.entry-container .delete {
    color: lightcoral;
    background-color: white;
    border: 2px red solid;
    border-radius: 5px;
}

.entry-container .delete:hover {
    color: white;
    background-color: red;
    border: 2px red solid;
}

.entry-container .rating  {
    padding: 10px;
    text-align: center;
}

.entry-container .rating  a {
    color: inherit;
}

.entry-container .like  {
    font-size: 20px;
    color: lightgreen;
}

.entry-container .like:hover,
.entry-container .dislike:hover {
    font-weight: bolder;
}

.entry-container .dislike  {
    font-size: 20px;
    color: lightcoral;
}

:root {
    --light-background-color: #ffffff; 
    --light-text-color: #000000; 
    --dark-background-color: #1f1f1f; 
    --dark-text-color: #ffffff; 
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Light Mode */
.light-theme {
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
}

/* Dark Mode */
.dark-theme {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
}

.dark-theme .page-title {
    border-color: #ffffff;
}

.dark-theme nav a {
    color: white !important;
}

.dark-theme input,
.dark-theme textarea {
    color: #ffffff;
    background-color: grey;
    border-color: #ffffff;
}

.dark-theme .entries,
.dark-theme .entries-snoop,
.dark-theme input:focus,
.dark-theme textarea:focus {
    background-color: rgb(100, 100, 100);
    border-color: #ffffff;
}

.dark-theme #post-entry,
.dark-theme .btn {
    background-color: var(--dark-background-color);
    border-color: #ffffff;
    color: white;
}


.dark-theme .delete {
    background-color: var(--dark-background-color);
}

.dark-theme .delete:hover {
    background-color: red
}

.dark-theme li {
    border-color: #ffffff;
}

.dark-theme li a,
.dark-theme textarea::placeholder {
    color: #ffffff !important;
}

.dark-theme textarea,
.dark-theme textarea::placeholder {
    color: #ffffff !important; 
}


.dark-theme #post-entry:hover {
    background-color: #588c7e !important;
    border-color: #ffffff;
    color: white;
}

.dark-theme #post-entry:active {
    background-color: #7dc0ae !important;
}

.nav-list .nav-link:hover {
    font-weight: bolder;
}

/* LOG IN/SIGN IN */

.ls-form {
    margin: auto;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    width: 600px;
    height: auto
}

.sign-log {
    text-align: center;
    margin: 20px;
}

.ls-warning {
    text-align: center;
    color: transparent;
}

#terms {
    margin: auto;
    text-align: center;
    width: 500px;
}

/* STYLING FOR THE HAMBURGER MENU */

.menu-icon {
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 999; /* Ensure the icon is above other elements */
    width: 60px; /* Set the width */
    height: auto; /* Automatically adjust height */
    background-color: transparent;
    border: none;
}

.dark-theme .menu-icon {
    filter: invert(); /* makes menu icon white in dark mode */
}


.hamburger-menu {
    position: fixed;
    top: 6px;
    right: 65px;
    /* background-color: var(--background-color); */
    /* border: 2px solid black; */
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.hamburger-menu.active {
    display: block;
}

.hamburger-menu ul {
    list-style-type: none;
    padding: 0;
}

.hamburger-menu ul li {
    margin-bottom: 10px;
}

.hamburger-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
}

.hamburger-menu ul li a:hover {
    font-weight: bold;
    color: #18755d;
}


/* STYLING FOR THE SETTINGS MENU */

#settings-menu {
    position: fixed;
    display: none;
    top: 75px;
    right: 10px;
    padding: 10px;
    text-align: center;
    width: 33%;
    height: 90%;
    border: 2px black solid;
    border-radius: 5px;
    background-color: var(--background-color);
}

#settings-menu .delete {
    color: lightcoral;
    border: 2px red solid;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    background-color: var(--background-color);
}

#settings-menu .delete:hover {
    color: white;
    background-color: red;
    border: 2px red solid;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* warning box */
.warning-box {
    background: var(--light-background-color); 
    color: var(--light-text-color); 
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.warning-box button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.warning-box button:hover {
    background-color: #c7e0c7;
    color: #000000;
}

.warning-box button:active {
    background-color: #588c7e;
    color: #ffffff;
}

/* dark mode */
.dark-theme .overlay {
    background: rgba(0, 0, 0, 0.7); 
}

.dark-theme .warning-box {
    background: var(--dark-background-color); 
    color: var(--dark-text-color); 
}

.dark-theme .warning-box button {
    background-color: #444; 
    color: #fff; 
}

.dark-theme .warning-box button:hover {
    background-color: #588c7e; 
    color: #fff;
}

.dark-theme .warning-box button:active {
    background-color: #7dc0ae; 
    color: #fff;
}