* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

.page-title {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.page-title .logo {
    width: 60px;
    position:relative;
    top: 5px;
}

.page-title h1 {
    display: inline-block;
    padding-left: 5px;
    font-size: 40px;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #c7e0c7;
    color:#000000;
}

.btn:active {
    background-color: #588c7e; 
    color: #ffffff; 
}

/* HOME PAGE/SNOOP */

nav {
    position: absolute;
    right: 0px;
    top: 10px;
    margin: 5px;
    padding: 15px;
    display: grid;
    column-gap: 15px;
}

nav a:hover {
    font-weight: bolder;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-template-columns: auto atuo auto;
}

.nav-list li {
    display: inline-block;
    margin: 8px;
    
}

.nav-list li a {
    text-decoration: none;
    color: black; 
}

.nav-list li a:hover {
    font-weight: bolder;
}

#middle-container {
    display: block;
    margin: 10px auto;
    width: 650px;
}

#entries-container {
    margin: auto;
    padding: 5px;
    width: 625px;
    height: 500px;
    overflow: auto;
}

.left-aside, .right-aside {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    margin: auto;
    height: 90%;
    position: relative; 
    overflow: hidden; /* hides the overflow */
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* sample text for asides*/
.sample-text {
    animation: floatInOut 10s infinite;
    white-space: nowrap;
    overflow: hidden;
    position: absolute; 
    left: 0%; /* start at the left */
    right: 0; 
    text-align: center; 
}

@keyframes floatInOut {
    0% {
        transform: translateX(-100%); /* starts at left of aside*/
    }
    35% {
        transform: translateX(0%); /* float to the middle */
    }
    65% {
        transform: translateX(0%); /* holds in the middle */
    }
    85% {
        transform: translateX(100%); /* floats off screen to the right */
    }
    100% {
        transform: translateX(100%); /* resets back to starting position */
    }
}

label {
    margin: auto;
    display: block;
    text-align: center;
    width: auto;
}

input {
    display: block;
    margin: 10px auto;
    width: 250px;
    border-radius: 5px;
    border: 2px solid black;
    background-color:#fdfdf3;
    padding: 5px;
}

textarea {
    display: block;
    margin: 10px auto;
    width: 400px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #fdfdf3;
    padding: 5px;
    resize: none;
}

input:focus,
textarea:focus {
    background-color: #ffffc6;
}

#entry-length {
    display: block;
    width: 400px;
    margin: auto;
    font-size: 12px;
}

#post-entry {
    display: block;
    margin: 10px auto;
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#post-entry:hover {
    background-color: #c7e0c7;
    color:#000000;
}

#post-entry:active {
    background-color: #588c7e; 
    color: #ffffff;
}

.homepage-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px 5px 5px 5px;
    height: 91vh;
}


.entry-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px auto;
    padding: 2px;
    width: 475px;
}

.entry-container .entries {
    margin: auto;
    padding: 5px;
    width: 425px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fdfdf3;
}

.entry-container .current-entry-title {
    display: block;
    font-weight: bold;
}

.entry-container .delete {
    color: lightcoral;
    background-color: white;
    border: 2px red solid;
    border-radius: 5px;
}

.entry-container .delete:hover {
    color: white;
    background-color: red;
    border: 2px red solid;
}

.entry-container .rating  {
    padding: 10px;
    text-align: center;
}

.entry-container .rating  a {
    color: inherit;
}

.entry-container .like  {
    font-size: 20px;
    color: lightgreen;
}

.entry-container .like:hover,
.entry-container .dislike:hover {
    font-weight: bolder;
}

.entry-container .dislike  {
    font-size: 20px;
    color: lightcoral;
}

:root {
    --light-background-color: #ffffff; 
    --light-text-color: #000000; 
    --dark-background-color: #1f1f1f; 
    --dark-text-color: #ffffff; 
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Light Mode */
.light-theme {
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
}

/* Dark Mode */
.dark-theme {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
}

.dark-theme .page-title {
    border-color: #ffffff;
}

.dark-theme nav a {
    color: white !important;
}

.dark-theme input,
.dark-theme textarea {
    color: #ffffff;
    background-color: grey;
    border-color: #ffffff;
}

.dark-theme .entries,
.dark-theme .entries-snoop,
.dark-theme input:focus,
.dark-theme textarea:focus {
    background-color: rgb(100, 100, 100);
    border-color: #ffffff;
}

.dark-theme #post-entry,
.dark-theme .btn {
    background-color: var(--dark-background-color);
    border-color: #ffffff;
    color: white;
}


.dark-theme .delete {
    background-color: var(--dark-background-color);
}

.dark-theme .delete:hover {
    background-color: red
}

.dark-theme li {
    border-color: #ffffff;
}

.dark-theme li a,
.dark-theme textarea::placeholder {
    color: #ffffff !important;
}

.dark-theme textarea,
.dark-theme textarea::placeholder {
    color: #ffffff !important; 
}


.dark-theme #post-entry:hover {
    background-color: #588c7e !important;
    border-color: #ffffff;
    color: white;
}

.dark-theme #post-entry:active {
    background-color: #7dc0ae !important;
}

.nav-list .nav-link:hover {
    font-weight: bolder;
}

/* LOG IN/SIGN IN */

.ls-form {
    margin: auto;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    width: 600px;
    height: auto
}

.sign-log {
    text-align: center;
    margin: 20px;
}

.ls-warning {
    text-align: center;
    color: transparent;
}

#terms {
    margin: auto;
    text-align: center;
    width: 500px;
}




